# Introduction to Statistics Part II

Now that we have learned how to use the mean and median, we'll talk about some more advanced

In [20]:
# import pandas and numpy

import numpy as np
import pandas as pd

## Count Statistics

*Count variables* are variables which represent the number of events that occur of a specific category. This can be anything, like the number of dogs in a park or how many people went to a concert. For both of these examples, each of the counts must be *whole numbers*.

Run the cell below to load a listing of the weather in Detroit for every day since 1950:

In [2]:
data_table = pd.read_csv( 'detroit_weather.csv' ) # Data from Mathematica WeatherData, 2019

Take a look at the contents of `data_table`:

In [3]:
# Print out data_table to look at its contents

data_table

       Unnamed: 0  YEAR  MONTH  DAY   Rain   Snow
0               0  1950      1    1   True  False
1               1  1950      1    2   True  False
2               2  1950      1    3   True  False
3               3  1950      1    4   True   True
4               4  1950      1    5  False  False
5               5  1950      1    6  False   True
6               6  1950      1    7  False   True
7               7  1950      1    8  False   True
8               8  1950      1    9  False  False
9               9  1950      1   10   True  False
10             10  1950      1   11  False   True
11             11  1950      1   12  False  False
12             12  1950      1   13   True  False
13             13  1950      1   14   True  False
14             14  1950      1   15   True   True
15             15  1950      1   16   True  False
16             16  1950      1   17  False  False
17             17  1950      1   18  False   True
18             18  1950      1   19  False  False
19             19  1950      1   20  False   True
20             20  1950      1   21  False   True
21             21  1950      1   22   True  False
22             22  1950      1   23   True  False
23             23  1950      1   24   True  False
24             24  1950      1   25  False  False
25             25  1950      1   26   True  False
26             26  1950      1   27  False  False
27             27  1950      1   28  False  False
28             28  1950      1   29   True  False
29             29  1950      1   30  False   True
...           ...   ...    ...  ...    ...    ...
25284       25284  2019      4    2  False  False
25285       25285  2019      4    3  False  False
25286       25286  2019      4    4  False  False
25287       25287  2019      4    5   True  False
25288       25288  2019      4    6  False  False
25289       25289  2019      4    7  False  False
25290       25290  2019      4    8   True  False
25291       25291  2019      4    9  False  False
25292       25292  2019      4   10   True  False
25293       25293  2019      4   11  False   True
25294       25294  2019      4   12  False  False
25295       25295  2019      4   13  False  False
25296       25296  2019      4   14   True  False
25297       25297  2019      4   15   True  False
25298       25298  2019      4   16  False  False
25299       25299  2019      4   17   True  False
25300       25300  2019      4   18   True  False
25301       25301  2019      4   19   True  False
25302       25302  2019      4   20   True  False
25303       25303  2019      4   21  False  False
25304       25304  2019      4   22  False  False
25305       25305  2019      4   23  False  False
25306       25306  2019      4   24  False  False
25307       25307  2019      4   25  False  False
25308       25308  2019      4   26   True  False
25309       25309  2019      4   27  False  False
25310       25310  2019      4   28   True  False
25311       25311  2019      4   29  False  False
25312       25312  2019      4   30   True  False
25313       25313  2019      5    1   True  False

[25314 rows x 6 columns]

This table contains if it was snowing and if it was raining for each day in Detroit since 1950. We will use this as an example dataset.

In [19]:
# Lookup the weather for May 1, 2019:

data_table.query( 'YEAR==2019 and MONTH==5 and DAY==1' )

# or...

data_table.query( 'YEAR==2019' ).query( 'MONTH==5' ).query( 'DAY==1' )

       Unnamed: 0  YEAR  MONTH  DAY  Rain   Snow
25313       25313  2019      5    1  True  False

As we can see, it was raining, but not snowing that day!

Now, let's create some count statistics!

In [5]:
# Import the Counter class from collections to help us do the counting

from collections import Counter

`Counter` gives us an easy way to count any `list` for its contents:

In [6]:
# Create a list and count it using Counter

Counter( [1,1,1,1,1,2,2,2,2,2] )

Counter({1: 5, 2: 5})

Now, let's count the weather data!

In [7]:
# Count how many days it has snowed in Detroit since 1950:

snow_days = Counter( data_table["Snow"] )
snow_days

Counter({False: 21079, True: 4235})

It looks like it has snowed 4,235 days in that time period, that is a lot!

In [8]:
# Count how many days *per month* it has snowed since 1950:

snow_days_by_month = Counter( data_table.query( 'Snow' )["MONTH"] )
snow_days_by_month

Counter({1: 1110,
         2: 903,
         3: 648,
         4: 227,
         11: 369,
         12: 933,
         5: 10,
         10: 34,
         8: 1})

In [9]:
# How many days *per month* has it NOT snowed since 1950?

not_snow_days_by_month = Counter( data_table.query( 'not Snow' )["MONTH"] )
not_snow_days_by_month

Counter({1: 1060,
         2: 1074,
         3: 1522,
         4: 1873,
         5: 2130,
         6: 2070,
         7: 2139,
         8: 2137,
         9: 2069,
         10: 2105,
         11: 1701,
         12: 1199})

In [10]:
# How many days TOTAL have there been in each month since 1950?

days_by_month = Counter( data_table["MONTH"] )
days_by_month

Counter({1: 2170,
         2: 1977,
         3: 2170,
         4: 2100,
         5: 2140,
         6: 2070,
         7: 2139,
         8: 2138,
         9: 2069,
         10: 2139,
         11: 2070,
         12: 2132})

## Percentages

A *percentage* is a number between 0 and 1 which represents the fraction of a given variable are in a given condition. It can be calculated by dividing the number of items in a category by the total number of items in a set.

We can use all of the counts that we created above to calculate percentages describing the weather in Detroit!

In [17]:
# Find the percentage of days in January where it snowed:

snow_days_by_month[1] / days_by_month[1]

0.511520737327189

A percentage of 51% means that, on average, it snowed 1 day for every 2 days each January (1/2 = 50%).

In [18]:
# Now do the same for June:

snow_days_by_month[6] / days_by_month[6]

0.0

It shouldn't come as much suprise that it doesn't snow much in summer!

In this lesson you learned how to:
     - Calculate count statistics using data from `pandas`
     - Calculate percentages from count statistics
     
Now, lets continue to practice with your partner!